<!DOCTYPE html>
<html lang="en" style="width: 100%; max-width: 100%;">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <!-- favicon -->
    <link rel="icon" href="logoused.ico" type="image/x-icon">
    <!-- style -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- <link rel="stylesheet" href="styles/home.css"> -->
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/a24ea374e8.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/about.css"> ​
    <!-- ------------ Font awesome CDN link ------------------ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

</head>

<body style="width: 100%;">
    <a href="/"><img src="/images/logoo.png" alt="logo" id="logoo"></a>

    <main>
        <div class="image-area">
            <div class="logo2">
                <h1>Web-KM <small>Team</small></h1>
            </div>
            <div class="img-wrapper">
                <img src="./images/about/Mohammad.jpeg" alt="Mohammad Abu Mazen">
                <h2>Mohammad Abu Mazen</h2>
                <ul>
                    <li><a href="https://github.com/mohabumazen"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://instagram.com/mhmdabumazen?r=nametag"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/MohAbumazen"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="img-wrapper">
                <img src="./images/about/karam.png" alt="Karam Al-Qinneh">
                <h2>Karam Al-Qinneh</h2>
                <ul>
                    <li><a href="https://github.com/karamalqinneh"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://instagram.com/karamsalah?r=nametag"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>



</body>

</html>