<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Magic</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i,900,900i" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style-home.css" type="text/css">
    <script src="js/libs/flexibility.js"></script>
    <script src="/js/libs/gruntIcons.js"></script>
    <!-- <noscript><link href="gfx/icons.fallback.css" rel="stylesheet"></noscript> -->
</head>

<body>
    <header class="masthead clear">
        <div class="site-header centered">
            <div class="site-branding">
                <h1 class="site-title"><a href="/"><span class="icon-mmlogo" data-grunticon-embed></span>Music Magic</a></h1>
            </div>
            <!-- .site-title -->
            <nav id="multi-level-nav" class="menu multi-level-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                </ul>
            </nav>
            <!-- #multi-level-nav .multi-level-nav -->
        </div>
        <!-- .centered -->

    </header>
    <!-- .masthead -->

    <div class="promo-area">
        <div class="front-slider flexslider">
            <ul class="slides">
                <li>
                    <img src="images/mainpromo/hero1.jpeg" alt="hero1" />
                </li>
                <li>
                    <img src="images/mainpromo/hero2.jpeg" alt="hero2" />
                </li>
            </ul>
        </div>

    </div>
    <!-- #showcase .promo-area -->

    <main class="main-area">

        <div class="top-pitch centered">
            <h2 class="main-title">Welcome to Music Magic</h2>
            <form class="example" action="/results" method="GET">
                <input type="text" name="search" placeholder="Search by Song or Artist" autocomplete="off">
                <button type="submit"><i class="fa fa-search"></i></button>
                <!-- </fieldset> -->
            </form>
            <!-- <p class="two-column">
                The only truth is music! and we will help you find it! Music Magic is world's best platform to discover your favorites <strong>songs</strong>.
            </p> -->
        </div>
        <!-- .pitch centered -->
        <div class="cta">
            <a href="#">Discover Now!</a>
        </div>
        <!-- .cta -->

        <section class="main-pitch">
            <div class="three-news centered">
                <figure class="news">
                    <a href="">
                        <img src="images/mainpromo/singer.jpg" alt="singer1" />
                    </a>
                    <figcaption>
                        <h3 class="content-title">A Riot going on</h3>
                        <p>The Brazilian rocker sees pictures in his riffs. When he came up with one of his gnarliest songs, there was a riot going on.</p>
                        <a class="content-button" href="https://www.songfacts.com/blog/interviews/max-cavalera-of-soulfly-ex-sepultura">See More</a>
                    </figcaption>
                </figure>
                <!-- .news -->
                <figure class="news">
                    <a href="">
                        <img src="images/mainpromo/singer2.jpg" alt="singer2" />
                    </a>
                    <figcaption>
                        <h3 class="content-title">Denmark Street</h3>
                        <p>Denmark Street, London's Tin, was the hottest place in the music biz in its day. This song takes you on a walk around.</p>
                        <a class="content-button" href="https://www.songfacts.com/blog/interviews/max-cavalera-of-soulfly-ex-sepultura">See More</a>
                    </figcaption>
                </figure>
                <!-- .news -->
                <figure class="news">
                    <a href="">
                        <img src="images/mainpromo/singer3.jpg" alt="singer3" />
                    </a>
                    <figcaption>
                        <h3 class="content-title">Ian Astbury of The Cult</h3>
                        <p>The Cult frontman tells who the "Fire Woman" is, and talks about performing with the new version of The Doors.</p>
                        <a class="content-button" href="https://www.songfacts.com/blog/interviews/max-cavalera-of-soulfly-ex-sepultura">See More</a>
                    </figcaption>
                </figure>
                <!-- .news -->
            </div>
            <!-- .three-news centered -->
        </section>
        <!-- .main-pitch -->

        <section class="pitch">
            <div class="centered">
                <h2 class="main-title">The Music Magic Experience</h2>
                <p class="two-column">
                    Join Our Music Magic Event on DEC 2021 The experiences you'll have with us are unlike any other.
                </p>
            </div>
            <!-- .centered -->
        </section>
        <!-- .pitch centered -->

        <section class="features centered">
            <figure class="feature">
                <a href="#">
                    <img src="images/experience/event1.jpeg" alt="event1" />
                </a>
                <figcaption>
                    <h3 class="content-title">
                        <h3 class="content-title">Main Promo</h3>
                        <p>Stay on the top of the trends. Music Magic offers a full-day Event that will match you with your songs partner and many more.</p>
                        <a class="content-button" href="#">See More</a>
                </figcaption>
            </figure>
            <!-- .feature -->
            <figure class="feature">
                <a href="#">
                    <img src="images/experience/event2.jpeg" alt="event2" />
                </a>
                <figcaption>
                    <h3 class="content-title">Five-Star Musics</h3>
                    <p>we convinced the best chefs in the business to come with us. Is old songs still relevant in 2020? Only one way to find out!</p>
                    <a class="content-button" href="#">See More</a>
                </figcaption>
            </figure>
            <!-- .feature -->
        </section>
        <!-- .features centered -->

        <h2 class="main-title">Our daily song quotes</h2>
        <section class="stories centered">
            <!-- slider -->
            <div class="story-slider flexslider">
                <ul class="slides">
                    <li>
                        <figure class="story-wrapper">
                            <iframe width="600" height="500" src="https://www.youtube.com/embed/ZbZSe6N_BXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <figcaption class="story">
                                <h3 class="story-header">Happy</h3>
                                <div class="author">Pharrell Williams</div>
                                <p>Let me tell you now Here we go It might seem crazy what I'm about to say Sunshine she's here, you can take a break I'm a hot air balloon that can go to space With the air, like I don't care baby by the way (come on) Because
                                    I'm happy Clap along if you feel like a room without a roof Because I'm happy</p>
                                <a href="#" class="content-button">Get the whole song</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="story-wrapper">
                            <iframe width="600" height="500" src="https://www.youtube.com/embed/09R8_2nJtjg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <figcaption class="story">
                                <h3 class="story-header">Sugar</h3>
                                <div class="author">Maroon 5 </div>
                                <p>
                                    It ain't a question, but I got the answers too These shoes is Cavalli, and the pants is too When I see him I'mma strip like the dancers do Imma show them how to do it like the pamphlets do Show these girls how to do it off campus too Yo, as long as you
                                    know he got the baddest..
                                </p>
                                <a href="#" class="content-button">Get the whole song</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <!-- .story-slider -->
        </section>
        <!-- .stories centered -->

    </main>
    <!-- .main-area -->

    <footer class="footer">
        <section class="footer-widgets centered">
            <div class="widget footer-menu">
                <h4 class="widget-title">Find your way</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <!-- .widget -->
            <div class="widget footer-cta">
                <h4 class="widget-title">Join Our Events</h4>
                <p>What are you waiting for? Join our events to make your music life better.</p>
                <a href="#">Listen Now!</a>

            </div>
            <!-- .widget -->
            <div class="widget footer-address">
                <address>
                    <h4 class="widget-title">Music Magic</h4>
                    <p>
                        Music Magic<br>
                        Amman, Jordan<br>
                    </p>
                </address>
            </div>
            <!-- .widget -->
        </section>
        <!-- .footer-widgets -->
        <nav class="social-nav">
            <ul>
                <li>
                    <a class="icon-linkedin" data-grunticon-embed href="https://linkedin.com"></a>
                </li>
                <li>
                    <a class="icon-twitter" data-grunticon-embed href="https://twitter.com"></a>
                </li>
                <li>
                    <a class="icon-facebook" data-grunticon-embed href="https://facebook.com"></a>
                </li>
                <li>
                    <a class="icon-instagram" data-grunticon-embed href="https://instagram.com"></a>
                </li>
                <li>
                    <a class="icon-youtube" data-grunticon-embed href="https://youtube.com"></a>
                </li>
            </ul>
        </nav>
        <!-- .social-nav -->
    </footer>
    <!-- .footer -->

    <script src="js/libs/jquery-2.1.3.min.js"></script>
    <script src="js/libs/jquery.flexslider-min.js"></script>
    <script src="js/flexslider.js"></script>

</body>

</html>